:root {
  --Black: #000;
  --White: #f0e4e4;
  --Purple: #3d17a2;
  --Gray: #5c5470;
  --MidGray: #352f44;
  --DarkGray: #2a2438;
  --DarkRed: #a42624;
  --Tan: #a3d6e6;/* #e6cda3; */
  --background-blue: #00afdf;
  --Yellow: #eae611;
}


.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: var(--background-blue);
      justify-content: center;
  align-items: center; 
  position: relative;
}


.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Vert 300 H 600, Hort w 950 v 330 */

.outer_frame {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  background-color: antiquewhite;
}


.subject {
	display: flex;
	justify-content: center;

	position: absolute; 
	overflow: visible;
	margin-top: 0px;
	flex-direction: column;
/*	filter: drop-shadow(0 0 1.5rem white); */
}

.face {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}



  .box {
    width: 160px;
    height: 175px;
    border-radius: 0%;
    background: var(--DarkRed);
    border: 2px solid black;
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 20%;
  
  }

  .ribbion{
    width: 75px;
    height: 80px;
    background: var(--White);
    border: 1px solid green;
    position: absolute;
    border-radius: 40%;
       display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;

  }

  .lo go{
    width: 34px;
    height: 25px;
    background: var(--DarkRed);
    border: 1px solid black;
    position: absolute;
    border-radius: 44%;
  }
    .top{
    width: 105px;
    height: 50px;
    background: var(--White);
    border: 2px solid black;
    position: absolute;
    margin-top: -160px;
  }
