:root {
  --Black: #000;
  --White: #f0e4e4;
  --Purple: #5d5080;
  --Gray: #5c5470;
  --MidGray: #352f44;
  --DarkGray: #2a2438;
  --DarkRed: #a42624;
  --Tan: #e6cda3;
  --background-blue: #00afdf;
}


.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: var(--background-blue);
      justify-content: center;
  align-items: center; 
  position: relative;
}


.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Vert 300 H 600, Hort w 950 v 330 */

.outer_frame {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  background-color: antiquewhite;
}


.subject {
	display: flex;
	justify-content: center;

	position: absolute; 
	overflow: visible;
	margin-top: 0px;
	flex-direction: column;
/*	filter: drop-shadow(0 0 1.5rem white); */
}

.face {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: var(--Tan);
  border: 2px solid brown;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.eyerow{
  width:120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 20px;
  margin-top: -75px;
  position: absolute;
  
}
  .chip {
    width: 40px;
    height: 50px;
    border-radius: 50%;
    background: brown;
    border: 2px solid black;
    display: flex;
  justify-content: left;
  align-items: center;
  }

  .small{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 2px;
  }

  .none{
    background: var(--Tan);
    border: 0;
  }
.smile{
    width: 200px;
    height: 120px;
    margin-top: 55px;
background-image: linear-gradient(yellow 50%, black 50%);
   border-radius: 50%;
   border: 4px solid yellow;
     
}
